@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Стили для тултипа */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  padding: 0.5rem; /* Tailwind's p-2 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-md */
  z-index: 10;
  width: 16rem; /* Tailwind's w-64 */
  font-size: 0.75rem; /* Tailwind's text-xs */
  line-height: 1.25; /* Tailwind's leading-5 */
  top: 100%; /* Позиционирование ниже родителя */
  left: 0;
  margin-top: 0.25rem; /* Tailwind's mt-1 */
}

.tooltip-container:hover .tooltip {
  display: block;
}

/* Скрытие логотипа TradingView */
#tv-attr-logo {
  display: none;
}

/* Стили для тултипа */
.hover-tooltip {
  display: none;
}

span:hover .hover-tooltip {
  display: block;
}

.hover-tooltip {
  font-weight: normal;
}


/* Скрыть стрелки у input[type="number"] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}